cplusplus/bidder/bidder_mobile
cplusplus/bidder/logs/*
cplusplus/bidder/*.o
cplusplus/bidder/*.d
cplusplus/bidder/*.pb.cc
cplusplus/bidder/*.pb.h
cplusplus/bidderCollector/bc_mobile
cplusplus/bidderCollector/*.o
cplusplus/bidderCollector/*.d
cplusplus/bidderCollector/*.pb.cc
cplusplus/bidderCollector/*.pb.h
cplusplus/bidderCollector/logs/*
cplusplus/throttle/thro_mobile
cplusplus/throttle/logs/*
cplusplus/throttle/*.o
cplusplus/throttle/*.d
cplusplus/throttle/*.pb.cc
cplusplus/throttle/*.pb.h
cplusplus/connector/connector_mobile
cplusplus/connector/logs/*
cplusplus/connector/*.o
cplusplus/connector/*.d
cplusplus/connector/*.pb.cc
cplusplus/connector/*.pb.h
cplusplus/adManagerConfig.txt

