bidder_mobile
bc_mobile
thro_mobile
mobile
tele_mobile
gyin_mobile
smaato_mobile
inmobi_mobile
baidu_mobile
logs
*.o
*.d
*.pb.cc
*.pb.h
cplusplus/adManagerConfig.txt
cplusplus/connector_new/TeleBidResponse.json
cplusplus/connector_new/TeleBidRequest.json

cplusplus/connector_new/bin_GYIN/adManagerConfig.txt
cplusplus/connector_new/bin_GYIN/core
cplusplus/connector_new/bin_SMAATO/SmaatoBidResponse.xml
cplusplus/connector_new/bin_SMAATO/adManagerConfig.txt
cplusplus/connector_new/bin_SMAATO/core
cplusplus/connector_new/bin_TELE/TeleBidRequest.json
cplusplus/connector_new/bin_TELE/TeleBidResponse.json
cplusplus/connector_new/bin_TELE/adManagerConfig.txt
cplusplus/connector_new/bin_TELE/core
cplusplus/connector_new/bin_INMOBI/adManagerConfig.txt
cplusplus/connector_new/bin_INMOBI/core
cplusplus/connector_new/bin_BAIDU/adManagerConfig.txt
cplusplus/connector_new/bin_BAIDU/core
