# throttleServConfig
# all bind port can not change,
if need change, please restart serv
throttleInfo {
    throttleConfig {
        # { throttleID, throttleIP, throttleAdPort, throttlePubPort, ManagerPort, workerNum} 
        {
            1, 192.168.20.158, 9013, 9014, 10000, 1
        }
    }
    # typedef enum
    # {
    # trace    = 0,
    # debug    = 1,
    # info     = 2,
    # notice   = 3,
    # warn     = 4,
    # err      = 5,
    # critical = 6,
    # alert    = 7,
    # emerg    = 8,
    # off      = 9
    #
    # }
    # level_enum;
    logLevel = 2;
}

bidderInfo {
    bidderConfig {
        # { bidderID, bidderIP, bidderLoginPort, bidderWorkerNum, threadPoolSize, convergenceNum} 
        {
            1, 192.168.56.129, 8013, 1, 10, 0
        }
        # {
        #    2, 192.168.20.158, 8014, 1, 10, 0
        # },
        # {
        #    3, 192.168.20.158, 8015, 1, 10, 0
        # }
    }
    # redis config { redisIP, redisPort }
    redisConfig = 192.168.20.158, 6379;
    logLevel = 2;
}

externBidInfo {
    externBidConfig {
        # { connectorID, bidderIP, bidderLoginPort, connecotrNum, transType, protocol } 
        {
            1, 192.168.20.158, 8013, 100, http, json
        }
        # {
        #    2, 192.168.20.158, 8014, 100, http, xml
        # },
        # {
        #    3, 192.168.20.158, 8015, 100, zmq, json
        # }
    }
}


connectorInfo {
    connectorConfig {
        # { connectorID, connectorIP, connectorManagerPort, connectorWorkerNum, threadPoolSize } 
        {
            1, 192.168.20.158, 6000, 1, 10
        }
        # {
        #    2, 192.168.20.158, 6001, 1, 10
        # }
    }
	mysqlConfig {
		#{mysqlID,mysqlIP,mysqlDataPort,mysqlUserName,mysqlUserPwd}
		{
			1,192.168.100.1,3306,adecosystem,uh*rif%0
		}
	}
	logLevel=1;
}

bcInfo {
    bcConfig {
        # { bcID, bcIP, bcDataPort, bcManagerPort, threadPoolSize}

        {
            1, 192.168.20.158, 7014, 7013, 10
        }
        # {
        #    2, 192.168.20.158, 7015, 7016, 10
        # },
        # {
        #    3, 192.168.20.158, 7017, 7018, 10
        # }
    }
    # redis config redisIP, redisPort, redisTimeout
    redisConfig = 192.168.20.158, 6379, 30;
    
    # logLevel(0(无log), 1（ DEBUG）, 2(WARNING)， 3（ ERROR） 
    logLevel = 2;
}

businessCode {
    # 0,false, other true

    logRedisOn= 1;
    logRedisIP = 192.168.20.118;
    logRedisPort = 63790;
    vastBusinessCode = 1;
    mobileBusinessCode = 2;
    heartInterval = 3;
}
